@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  width: 100vw;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

.bg-custom-black {
  background-color: #191919;
}
.bg-custom-white {
  background-color: #FFFFFF;
}
.white-icon {
  fill: white;
}
.zoom-out-effect {
  animation: zoomOut 10s ease-in-out infinite;
}

/* Masquer la scrollbar pour Chrome, Safari et Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Masquer la scrollbar pour IE, Edge et Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;  /* Firefox */
} 

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
